body {
	background-color: #ff2700; /* or #ff4d00 */
	color: #ffce00;
}

#mapid { 
	height: 650px;
	width: 800px;
	color:blue; 
	margin: 0 auto;
}

h1 {
	text-align: center;
	padding-top:20px;
}

h3 {
	text-align: center;
	padding-bottom: 10px;
}
